<section class="vh-100 mx-2">
  <div class="container py-2 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body  text-left">
          <table class="table">
            <tr>
              <th scope="col"> Send By </th>
              <th scope="col"> Subject </th>
              <th colspan="3"> Action </th>
            </tr>

            <% @emails.each do |email| %>
             <tr>
              <td><%= email.sent_by.name%></td>
              <td><%= email.subject%></td>
              <td><%=button_to "Delete", @email%></td>
              </tr>
            <% end %>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

